/* Remove any existing styles and add: */
html,
body {
  min-height: 100vh;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

#__next {
  min-height: 100vh;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
